@import '../../styles/variables';

// stylelint-disable declaration-no-important

.paperWrapper {
  display: flex;
  flex-wrap: wrap;
}

.paper {
  flex: 1;
  padding: $field-spacing;
}

.paper:first-child {
  margin-right: $layout-spacing / 2;
}

.paper:last-child {
  margin-left: $layout-spacing / 2;
}

.field {
  width: 100%;
  margin-bottom: $field-spacing !important;
}

.paperTwo {
  flex: 1;
  padding: $field-spacing;
  margin-top: $layout-spacing;
}

@media screen and (max-width: 979px) {
  .paperWrapper {
    flex-direction: column;
  }

  .paper:first-child {
    margin-right: 0;
  }

  .paper:last-child {
    margin-top: $layout-spacing;
    margin-left: 0;
  }
}
